
<div class="grid-container">

<h1>Buttons, Labels, Child Content</h1>

<hr />
<p>&nbsp;</p>

<h3>Buttons</h3>

<a class="button" href="#">Primary Color</a>
<a class="secondary button" href="#">Secondary Color</a>
<a class="success button" href="#">Success Color</a>
<a class="alert button" href="#">Alert Color</a>
<a class="warning button" href="#">Warning Color</a>
<a class="white button" href="#">White Color</a>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<h3>Labels</h3>

<span class="label">Default Label</span>
<span class="success label">Success Label</span>
<span class="alert label">Alert Label</span>
<span class="warning label">Warning Label</span>

<p>&nbsp;</p>
<hr />
<p>&nbsp;</p>

<a class="large hollow button" href="#!/about/child">Click to Load Child Content</a>

<div ng-class="['ui-animation']" ui-view></div>

</div>